@use '../variables' as vars;

.texto3 {
  display: flex;
  align-items: center;     
  justify-content: center; 

  /* Legibilidad */
  line-height: 1.5;  
  text-align: center;

 
  min-height: 3lh; 
  padding: clamp(12px, 2vw, 24px);
}

@media (max-width: 480px) {
  .texto3 {
    min-height: 4lh;
  }
}
